/*@import url(http://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic);*/

@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/comfortaa.ttf") format('truetype');
}


body {
    font-family: "Segoe UI", "Droid Sans", Ubuntu, Comfortaa, Verdana, Arial, serif;
    font-size: 11pt;
    text-align: center;
}

body > * {
    margin: auto;
}

nav {
    margin: 2mm auto;
}

[ng-view], nav, header {
    width: 660px;
}

@media (max-width: 1024px) {
    header, #collapse {
        display: none;
    }

    [ng-view], nav {
        width: 96vw;
    }
}

[ng-view] {
    text-align: center;
}

[ng-view] > * {
    text-align: left;
}

button {
    text-align: center;
}

#logo, #banner {
    font-family: "Comfortaa", "Segoe UI", "Droid Sans", Ubuntu, Verdana, Arial, serif;
    height: 104pt;
}

#logo {
    font-size: 48pt;
    text-transform: uppercase;
    background: url("../img/coast.png") no-repeat left center;
    background-size: contain;
}

#logo > div {
    text-align: left;
    float: left;
    width: 100%;
}

.sign {
    color: #bbb;
}

#banner > div {
    float: left;
    height: inherit;
}

#banner > div:first-child {
    margin-top: 1em;
}

#banner > div:first-child > div:nth-child(2) {
    font-size: 2.4em;
}

#banner > div:first-child > div:nth-child(3) {
    font-size: 2em;
}

#phone {
    font-size: 72pt;
    margin-right: 1.25cm;
}

#phone > div {
    float: left;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    margin: 2mm;
}

[ng-cloak] {
    display: none !important;
}

#search {
    margin-left: 3mm;
    width: 66%;
}

ul.container {
    list-style: none;
    padding-left: 0;
}

.firm {
    border-top: 1px solid #000000;
    padding-top: 1.5mm;
    padding-left: 2mm;
    padding-right: 2mm;
    margin: 1mm;
    -webkit-user-select: none;
}

[itemprop=name] {
    font-weight: 700;
}

[itemprop=telephone] {
    font-style: oblique;
}

#card a {
    display: block;
}

a.topic {
    display: block;
}

.cat > a {
    display: block;
}

.cat > input {
    border: none;
    width: 100%;
}

#map {
    height: 480px;
    text-align: center;
}

#map > [src="img/loading.gif"] {
    margin: 1cm auto;
}

[name=login] {
    margin: 1cm auto;
    width: 2in;
}

#google_maps {
    margin-bottom: 1mm;
}

form > * {
    display: block;
    margin: 1mm;
}

#collapse {
    float: right;
    cursor: pointer;
    margin-right: 4mm;
    text-transform: uppercase;
}

.note {
    display: inline-block;
    border: 1px solid gray;
    margin: 1mm;
    width: 8cm;
}

.note > span {
    margin-right: 1mm;
}

.note > div {
    margin: 1mm
}

.style {
    float: right;
}

#note-container form input[type=text] {
    width: 7cm;
}

#note-container form > textarea {
    width: 12cm;
    height: 2cm;
}

form > * {
    width: inherit;
}

.error {
    color: red;
}

#catalog a {
    color: #000000;
    text-decoration: none;
}
