<!doctype html>
<html lang="en" ng-app="mistoApp">
<head>
    <meta charset="utf-8" />
    <title>Довідник підприємств Тернополя</title>
    <link rel="icon" href="favicon.ico" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">
    <!--link rel="icon" type="image/svg+xml" href="img/iconbag.svg" -->
    <link rel="stylesheet" type="text/css" href="bower_components/jquery-ui/themes/black-tie/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/jquery-ui/themes/black-tie/theme.css" />
    <link rel="stylesheet" type="text/css" href="css/app.css"/>

    <script src="js/minimal.js"></script>
    <script src="js/browser.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-i18n/angular-locale_uk.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM7MsXD01AOK5Otr5H7MCZjYl5Uqi4k0M&sensor=false"></script>
    <script src="js/app.js"></script>
    <script src="js/resource.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/search.js"></script>
    <script src="js/firm.js"></script>
    <script src="js/cat.js"></script>
    <script src="js/signup.js"></script>
    <script src="js/user.js"></script>
    <script src="js/note.js"></script>
    <script src="js/visual.js"></script>
    <style>
    </style>
</head>
<body>
<header>
    <div id="banner">
        <div>
            <div>Тернопільське інформаційне бюро</div>
            <div>Хочеш знати,</div>
            <div>а не шукати..!?</div>
        </div>
        <div id="phone">
            <div>4</div><div>3</div><div>3</div><div class="sign">-</div><div>4</div><div>1</div><div>1</div>
        </div>
    </div>
    <div id="logo">
        <div>misto<span class="sign">.</span>net</div>
    </div>
</header>
<nav ng-controller="MenuController">
    <a ng-repeat="item in menu" ng-bind="item.name" ng-href="{{item.url}}"></a>
    <div id="collapse">
        <div class="hide">Згорнути</div>
        <div class="show" style="display: none">Розгорнути</div>
    </div>
</nav>
<div ng-controller="ErrorController">
    <div class="error" ng-show="error" ng-bind="error">Нажаль ваш браузер не підтрисується</div>
</div>
<noscript class="error">У вас відключений JavaScript</noscript>
<script>
    document.querySelector('noscript').outerHTML = '<div ng-view></div>';
</script>
</body>
</html>
