<form ng-cloak>
    <input ng-model="firm.name" placeholder="Назва" />
    <input ng-model="firm.address" placeholder="Адреса" />
    <input ng-model="firm.phone" placeholder="Телефон" />
    <input ng-model="firm.working" placeholder="Час роботи" />
    <input ng-model="firm.email" placeholder="Email" />
    <input ng-model="firm.site" placeholder="Сайт" />
    <textarea ng-model="firm.ad" placeholder="Опис"></textarea>
    <ul>
        <li ng-repeat="cat in firm.cats" id="cat{{cat.id}}" ng-bind="cat.name"></li>
    </ul>
    <input list="autocomplete" ng-change="cat_change()" ng-model="new_catalog" ng-keyup="select_cat($event)" />
    <div>
        <button ng-click="save()">Зберегти</button>
        <button ng-click="cancel()">Cкасувати</button>
    </div>
    <datalist id="autocomplete" style="display: none">
            <option ng-repeat="cat in autocomplete" value="{{cat.name}}" data-id="{{cat.id}}"></option>
    </datalist>
</form>
