<div id="error">
<style type="text/css">
    #error {
        font-family: "Courier New", sans-serif;
    }

    img {
        position: fixed;
        right: 4mm;
        bottom: 4mm;
        z-index: -1;
    }

    h1 {
        font-size: 72px;
        color: #ca6600;
        margin-top: 1cm;
    }

    h2 {
        font-size: 48px;
    }

    h1, h2 {
        margin-left: 1cm;
    }

    span {
        color: gray;
    }

    @media all and (max-width: 650px), all and (max-height: 450px) {
        img {
            display: none;
        }
    }
</style>
    <h1>404</h1>
    <h2>Нема <span>:(</span></h2>
    <img src="/img/404.png">
 </div>