<div class="cat" xmlns="http://www.w3.org/1999/html">
    <button ng-click="go(parent.parent)" ng-show="parent">Вгору</button>
    <input type="text" ng-model="parent.name" ng-show="parent" />
    <a ng-repeat="cat in cats" ng-href="cat?id={{cat.id}}">{{cat.name}}</a>
</div>