<div ng-cloak itemscope itemtype="http://schema.org/LocalBusiness"
     id="card">
    <button ng-show="edit" ng-click="edit()">Редагувати</button>
    <div itemprop="name" ng-bind="firm.name"></div>
    <div itemprop="address" ng-bind="firm.address"></div>
    <div itemprop="telephone" ng-bind="firm.phone"></div>
    <div itemprop="openingHours" ng-bind="firm.working"></div>
    <a itemprop="email" ng-bind="firm.email" ng-href="mailto:{{firm.email}}"></a>
    <a itemprop="url" ng-bind="firm.site" ng-href="{{firm.site}}"></a>
    <!--<div>Вага {{firm.rank}}</div>-->
    <div itemprop="description"
         ng-bind="firm.ad"></div>
    <ul ng-show="firm.cats.length > 0">
        <li ng-repeat="cat in firm.cats"><a ng-bind="cat.name" ng-href="/cat?id={{cat.id}}"></a></li>
    </ul>
    <a id="google_maps" target="_blank"
       ng-show="google_maps"
       ng-href="https://maps.google.com/maps?q={{google_maps}}">
        Показати в Google Maps
    </a>
    <div id="map">
        <img ng-show="google_maps" src="img/loading.gif" />
    </div>
</div>
