<form name="login" method="post" action="/login" enctype="application/x-www-form-urlencoded">
    <input ng-model="username" name="username" type="text" placeholder="Логін"
           ng-minlength="4" ng-maxlength="16" required />
    <input ng-model="password" name="password" type="password" placeholder="Пароль" required />
    <button type="submit">Увійти</button>
</form>