<div id="note-container">
    <div class="style">
        <label>Ширина: <input type="number" name="font-size" value="8" /></label>
    </div>
    <a ng-repeat="note in notes" ng-if="node.id == id"
       class="topic" ng-href="note?id={{note.parent}}">Вгору</a>
    <form name="form" ng-submit="submit()">
        <label>
            <input type="checkbox" ng-model="is_topic">
            тема
            <input type="text" ng-model="topic" ng-disabled="!is_topic" placeholder="назва"/>
        </label>
        <textarea ng-model="text" placeholder="Текст" required></textarea>
        <input type="submit" value="Відправити">
    </form>
    <a ng-repeat="note in notes" ng-if="node.id != id && null != note.topic"
       class="topic" ng-href="note?id={{note.id}}">{{note.topic}}</a>
    <div class="note" ng-repeat="note in notes" ng-if="node.id == id || null == note.topic">
        <div>
            <span>{{note.author}}</span>
            <span>{{note.created}}</span>
            <span id="{{note.id}}"><a href="#{{note.id}}">#{{note.id}}</a></span>
        </div>
        <strong   ng-repeat="note in notes">{{node.topic}}</strong>
        <div>{{note.text}}</div>
    </div>
</div>