<div ng-cloak id="catalog">
    <input id="search" type="search" placeholder="Пошук" ng-model="params.q" ng-change="query(0)" />
    <input type="number" ng-model="take" min="1" max="100" size="2" style="width: 30pt"/>
    елеметів на сторінці
    <ul class="container">
        <li itemscope itemtype="http://schema.org/LocalBusiness"
            ng-repeat="firm in firms" class="firm">
            <a ng-href="/firm?id={{firm.id}}">
                <div itemprop="name" ng-bind="firm.name"></div>
                <div itemprop="address" ng-bind="firm.address"></div>
                <div itemprop="telephone" ng-bind="firm.phone"></div>
            </a>
        </li>
    </ul>
    <a ng-href="?skip={{params.skip - take}}&q={{params.q}}" ng-show="params.skip > 0">&lArr;</a>
    <input type="number" ng-model="page" min="1" size="2" style="width: 30pt"/>
    <a ng-href="?skip={{+params.skip + take}}&q={{params.q}}" ng-show="firms.length >= take">&rArr;</a>
    <label>Кількість знайдених результатів: {{count.count}}</label>
</div>
