<form name="signup" method="post" action="/signup" enctype="application/x-www-form-urlencoded">
    <input ng-model="username" name="username" type="text" placeholder="Логін"
           ng-minlength="4" ng-maxlength="16" required />
    <input ng-model="email" name="email" type="text" placeholder="Email"
           pattern="^[\w\._]+@[\w\._]+\.[a-z]{2,4}$" required />
    <input type="submit" value="Зареєструватись"/>
</form>