<table>
    <tr ng-repeat="user in users" data-username="{{user.username}}">
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td><button ng-click="remove(user.username)">Видалити</button></td>
    </tr>
</table>
